<div class="wrapper">
  <form
    name="loginfrom"
    autocomplete="off"
    [formGroup]="loginfrom"
    class="form-signin"
  >
    <h2 class="form-signin-heading">Please login</h2>

    <mat-form-field mat-line class="mat-form-field-should-float">
      <mat-label class="required">Email Id</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        [(ngModel)]="loginfrom.email"
      />
      <mat-error>
        {{ getMessage("email") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field mat-line class="mat-form-field-should-float">
      <mat-label class="required">Pasword</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        [(ngModel)]="loginfrom.password"
      />
      <mat-error *ngIf="loginfrom.get('password').hasError('required')">
        {{ getMessage("password") }}
      </mat-error>
    </mat-form-field>

    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      (click)="login(loginfrom)"
    >
      Login
    </button>
  </form>
</div>
